
<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Examples of HTTP Requests </span>
</mat-toolbar>
<br>
  <!--div flexLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px"-->
  <!--div fxLayout="row" fxLayoutAlign="space-between stretch" -->
  <!--div fxLayout="row wrap" fxLayoutAlign="start start"   fxLayoutGap="20px"-->
  <div fxLayout="row wrap" fxLayoutAlign="space-between start"  fxLayoutGap="20px">    
  
  <!--
    <mat-card fxFlex="20"  class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Simple HTTP GET</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">
          <mat-icon>swap_vert</mat-icon> Send Request
        </button>
      </mat-card-actions>
      <mat-card-footer>	
      </mat-card-footer>
    </mat-card>   
  -->

      <mat-card fxFlex="20"  class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Simple HTTP GET</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-list *ngIf="simpleReqProductsObs | async as prods">
            <h3 mat-subheader>Products</h3>
            <mat-list-item *ngFor="let p of prods">
              <mat-icon mat-list-icon>shop</mat-icon>
              <h4 mat-line>{{p.name}}</h4>
              <p mat-line> Department: {{p.department}} - Price: {{p.price | currency:'$'}} </p>
            </mat-list-item>
          </mat-list>
             
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="getSimpleHttpRequest()">
            <mat-icon>swap_vert</mat-icon> Send Request
          </button>
          <button mat-button color="accent" (click)="cancelSimpleHttpRequest()">
            <mat-icon>delete</mat-icon> Reset
          </button>          
        </mat-card-actions>
        <mat-card-footer>	
        </mat-card-footer>
      </mat-card>    

      <mat-card fxFlex="20"  class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>HTTP GET / Error handling</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul *ngIf="productsErrorHandling">
            <li *ngFor="let p of productsErrorHandling">{{p.name}}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="getProductsWithErrorHandlingOk()">
            <mat-icon>swap_vert</mat-icon> Success Req.
          </button>
          <button mat-button color="accent" (click)="getProductsWithErrorHandling()">
            <mat-icon>error</mat-icon> Error Req.
          </button>                 
        </mat-card-actions>
        <mat-card-footer>	
        </mat-card-footer>
      </mat-card>

      <mat-card fxFlex="20"  class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>GET / Loading</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul *ngIf="productsLoading && !bLoading">
            <li *ngFor="let p of productsLoading">{{p.name}}</li>
          </ul>         
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="getProductsLoading()">
            <mat-icon>swap_vert</mat-icon> Send Request
          </button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="query" *ngIf="bLoading"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>    

      <mat-card fxFlex="20"  class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Getting Text from the Server</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-list>
            <mat-list-item *ngFor="let p of productsIds; let i=index">
              <mat-icon mat-list-icon>shop</mat-icon>
              <h4 mat-line *ngIf="p.name != ''">{{p.name}}</h4>
              <h4 mat-line *ngIf="p.name == ''"><i>Product {{i}}</i></h4>
              
              <button mat-icon-button *ngIf="p.name == ''" color="primary"
                (click)="loadName(p._id)" >
                <mat-icon>refresh</mat-icon>
              </button>

            </mat-list-item>
          </mat-list> 

        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="getProductsIds()">
            <mat-icon>swap_vert</mat-icon> Get IDs
          </button>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>

      <mat-card fxFlex="20"  class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>HTTP Post Request</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div fxLayout="column" fxLayoutAlign="space-around stretch" >

            <mat-form-field >
              <input matInput placeholder="Product Name" value="" type="text" #name>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Department" value="" type="text" #dep>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Price" value="" type="number" #price>
            </mat-form-field>
  
          </div>
              
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="saveProduct(name.value, dep.value, price.value)">
            <mat-icon>save</mat-icon> Save
          </button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-chip-list>
            <mat-chip *ngFor="let p of newlyProducts" style="margin-left: 10px; margin-bottom: 10px;"  >
              {{p.name}}
            </mat-chip>
          </mat-chip-list>          	
        </mat-card-footer>
      </mat-card> 
      
      

      <mat-card fxFlex="20"  class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>HTTP Delete Request</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-list>
            <mat-list-item *ngFor="let p of productsToDelete">
              <mat-icon mat-list-icon>shop</mat-icon>
              <h4 mat-line>{{p.name}}</h4>
              <button mat-icon-button color="accent" (click)="deleteProduct(p)" >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list> 

        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="loadProductsToDelete()">
            <mat-icon>load</mat-icon> Load Products
          </button>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>      

      

      <mat-card fxFlex="20"  class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>HTTP Patch Request</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-list *ngIf="productsToEdit">
            <h3 mat-subheader>Products</h3>
            <mat-list-item *ngFor="let p of productsToEdit">
              <mat-icon mat-list-icon>shop</mat-icon>
              <h4 mat-line>{{p.name}}</h4>
              <p mat-line> Department: {{p.department}} - Price: {{p.price | currency:'$'}} </p>
              <button mat-icon-button color="primary" (click)="editProduct(p)" >
                <mat-icon>edit</mat-icon>
              </button>              
            </mat-list-item>
          </mat-list>
              
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="loadProductsToEdit()">
            <mat-icon>swap_vert</mat-icon> Load Products
          </button>
        </mat-card-actions>
        <mat-card-footer>	
        </mat-card-footer>
      </mat-card>        
</div>
