<div>
  <button mat-button color="primary" (click)="addNew()"><mat-icon>add</mat-icon> New Department</button>
</div>

<div class="department-form" fxLayout="column" fxLayoutAlign="center stretch"  *ngIf="department!=null">
  <app-department-form
    *ngIf="department!=null"
    [department]="department"
    (onSave)="onSave($event)" (onCancel)="onCancel()">
  </app-department-form>
</div>

<ng-container *ngIf="(departments$ | async) as departments">
    <app-departments-list [departments]="departments"
      (onDelete)="onDelete($event)"
      (onEdit)="onEdit($event)">
    </app-departments-list>
</ng-container>

<div *ngIf="loading$ | async" fxFill fxLayout="row" fxLayoutAlign="center center" style="position: fixed; top: 0; left: 0;">
    <mat-spinner></mat-spinner>
</div>
