.album {
    width: 140px;
    height: 180px;
    margin: 20px;
    border-radius: 20px;
}

.button-link {
    opacity: 0.6 !important;
    margin-bottom: 10px !important;
    color: #d1d1d1;
}

.button-selected {
    opacity: 1 !important;
    color: #ffffff;    
}

.icon {
    font-size: 40px;
}

