<div class="side-menu">
  <div align="center" class="profile-background">
    <img class="avatar" src="assets/image.jpg">
    <h3 class="profile-title">Salsicha Scooby Doo</h3>
    <h6 class="profile-subtitle">salsicha@gmail.com</h6>
  </div>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item class="menu-item" routerLink="home" routerLinkActive="active-menu-item"> 
      <mat-icon class="menu-icon">home</mat-icon>
      Home 
    </a>
    <a mat-list-item class="menu-item" routerLink="myphotos" routerLinkActive="active-menu-item"> 
      <mat-icon class="menu-icon">photo_library</mat-icon>
      My Photos 
    </a>
    <a mat-list-item class="menu-item" routerLink="timeline" routerLinkActive="active-menu-item"> 
      <mat-icon class="menu-icon">timeline</mat-icon>
      My timeline 
    </a> 
    <a mat-list-item class="menu-item" routerLink="people" routerLinkActive="active-menu-item"> 
      <mat-icon class="menu-icon">people_outline</mat-icon>
      People 
    </a> 

       
  </mat-nav-list> 
</div>