<h3>{{item}}</h3>
<div class="horizontal-buttons">
  <button mat-raised-button color="primary" (click)="maisUmClick()"><mat-icon>exposure_plus_1</mat-icon></button>
  <button mat-raised-button color="primary" (click)="maisDoisClick()"><mat-icon>exposure_plus_2</mat-icon></button>
  <button mat-raised-button color="accent" (click)="menosUmClick()"><mat-icon>exposure_neg_1</mat-icon></button>
  <button mat-raised-button color="accent" (click)="menosDoisClick()"><mat-icon>exposure_neg_2</mat-icon></button>
</div>