<div fxLayout="column" fxLayoutAlign="center start" fxFill>
    
  <button mat-button color="primary" (click)="observableCreateClick()">create</button>    
  <button mat-button color="primary" (click)="fromClick()">from</button>
  <button mat-button color="primary" (click)="ofClick()">of</button>
  <button mat-button color="primary" (click)="fromEvent()">fromEvent</button>
  <button mat-button color="primary" (click)="intervalClick()">interval</button>
  <button mat-button color="primary" (click)="timerClick()">timer</button>
  <button mat-button color="warn" (click)="unsubscribeClick()">Always Unsubscribe</button>

</div>