.classe0 {
    font-size: 16px;
    color: limegreen;
    background-color: olivedrab;
    padding: 10px;
}

.classe1 {
    font-size: 20px;
    color: coral;
    background-color: aqua;
    padding: 10px;
}

.classe2 {
    font-size: 10px;
    color: deeppink;
    background-color: darkorange;
    padding: 20px;
}

.classe3 {
    font-size: 24px;
    color: dodgerblue;
    background-color: indigo;
    padding: 5px;
}

